#about{
    display: flex;
    padding: 20px;
    justify-content: center;
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        // border: solid;
        width: 50%;
        align-items: center;
        h2{
            text-transform: uppercase;
            margin-bottom: 50px;
        }
        p{
            text-align: center;
            margin: 10px 0;
            font-size: 1.2rem;
        }
    }
}