#about{
    background-color: $about-background-color;
    color: white;
    // border: solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    .section-content{
        margin: 10px;
        display: flex;
        flex-direction: column;
        // flex-direction: column-reverse;
        // border: solid green;
        
        .content, .photo-container{
            margin: 1rem;
        }
        .content{
            text-align: center;
            // border: solid;
        }
        .photo-container{
            // width: auto;
            max-width: 120px;
            // height: auto;
            margin: auto;
            .user-foto{
                width: 100%;
                // height: 100%;
                filter: grayscale(100%);
            }
        }
    }
    @include media-breakpoint-up(lg) {
        // border: none;
        // display: flex;
        // flex-direction: column;
        .section-content{
            flex-direction: row;
            // border: red solid;
            justify-content: center;
            align-items: center;
            // width: 100%;
            height: auto;
            .content{
                // border: solid green;
                // width: 400px;
                text-align: left;
                flex: 3 1 ;
            }
            .photo-container{
                max-width: 200px;
                margin: 10px;
                // height: 100%;
                // border: green solid;

                flex: 1 1 ;
                .user-foto{
                    width: 100%;
                    // height: 100%;
                }
            }
        }
    }
    &:after{
    @include triangle($about-background-color)
    }
    
}


// background-color: $about-background-color;
//     color: white;
//     .content{
//         text-align: center;
//     }
//     // .section-content{
//     //     display: flex;
//     //     flex-direction: column;
//     // }
//     @include media-breakpoint-up(md) { 
//         border: solid red;

//     .section-content{
//         // border: solid;
//         padding: 0 15%;
//         width: 100%;
//         height: 100%;
//         flex-direction: row;
//         justify-content: center;
//         align-items: center;
//         .content, .photo-container{
//              margin: 30px;
//             }
//             .content{
//                 // border: solid;
//                 flex-grow: 2;
//                 text-align: left;
           
//              p{
//                 //  text-align: center;
//                  margin: 10px 0;
//                  font-size: 1.2rem;
//              }
//          }
//          .photo-container{
//              border: 10px solid black;
//              border-radius: 10px;
            
             
//          }
//     }
//     // .section-title{
//     //     color: $orange-color;
//     //     transform: translateY(-45px);
//     // }
//     &:after{
//         @include triangle($about-background-color)
//     }
//      }