#tech{
    background-color: $skills-background-color;
    color: $about-background-color;
    display: flex;
    justify-content: center;
    align-items: center;
    h2{
        text-transform: uppercase;
        // font-family: sans-serif;
    }
}