$navbar-color: rgb(248, 146, 12);
$body-background-color: rgb(71, 74, 88);
$orange-color: rgb(242, 127, 62);
$about-background-color: rgb(216, 199, 107);
$skills-background-color: rgb(242, 130, 66);
$projects-background-color:  rgb(128, 113, 108);

@mixin triangle($color) {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-40%);
    border-left: 3.2rem solid transparent;
    border-right: 3.2rem solid transparent;
    border-top: 2.6rem solid $color;
    z-index: 10;
}