#welcome{
    .logo-container{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top:40%;
        transform: translateY(-50%);
        padding-top: 300px;
        .title{
            color: $orange-color;
            font-family: Sans-Serif;
            font-weight: bold;
            margin-bottom: 250px;
        }
        .arrow-down{
            position: relative;
            bottom: 150px;
            transition: .5s;
            color: gray;
            i{
                border: none;
            }
            &:hover{
                transform: translateY(10px);
                color: black;
            }
        }
        .icons{
            opacity: .6;
        }
    }
    &:after{
        @include triangle(white);
    }
}